<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther、Stock,Buffer、Equipment、MTL、MTS、OHCV、HID-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->


<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="K24_DEMO" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <Vehicle id="OHT01_CR1" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_CR1"/>
        <Vehicle id="OHT01_CR2" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_CR2"/>
        <Vehicle id="OHT01_CR3" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_CR3"/>
      </Node>
      <Node id="PORT_NODE" node_num="5" >
        <EQPT id="PORT_EQ" eqptType="3" communicationType="1">
          <PortStation id="OHT01_EQ1" unit_num="1" adr_id="13302" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="OHT01_EQ2" unit_num="2" adr_id="13012" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="OHT01_T01" unit_num="3" adr_id="15057" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="OHT01_T02" unit_num="4" adr_id="15056" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="100101" unit_num="5" adr_id="12203" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="100102" unit_num="6" adr_id="14204" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="200101" unit_num="7" adr_id="12205" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
      </Node>
      <Node id="MTL_NODE" node_num="7" >
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>