<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther=0、Stock=1,Buffer=2、Equipment=3、MTL=4、MTS=5、OHCV=6、HID=7、MGV=8、AGV=9、NTB=10、CRANE=11、ZONE=12、AGVZONE=13、LINE=14-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->


<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="K24_DEMO" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <Vehicle id="OHT01_CR1" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_CR1"/>
        <Vehicle id="OHT01_CR2" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_CR2"/>
        <Vehicle id="OHT01_CR3" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_CR3"/>
        <!--config by uenlin in 20210709-->
        <Vehicle id="OHT01_F01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F01"/>
        <Vehicle id="OHT01_F02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F02"/>
        <Vehicle id="OHT01_F03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F03"/>
        <Vehicle id="OHT01_F04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F04"/>
        <Vehicle id="OHT01_F05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F05"/>
        <Vehicle id="OHT01_F06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F06"/>
        <Vehicle id="OHT01_F07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F07"/>
        <Vehicle id="OHT01_F08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_F08"/>
        <!--
		
		<Vehicle id="OHT01_K01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K01"/>
		<Vehicle id="OHT01_K02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K02"/>
		<Vehicle id="OHT01_K03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K03"/>
		<Vehicle id="OHT01_K04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K04"/>
		<Vehicle id="OHT01_K05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K05"/>
		<Vehicle id="OHT01_K06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K06"/>
		<Vehicle id="OHT01_K07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K07"/>
		<Vehicle id="OHT01_K08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B7_OHBLOOP_K08"/>
		-->
      </Node>
      <Node id="EQ_NODE" node_num="2" >

        <EQPT id="OHT01_EQ" eqptType="3" communicationType="1">
          <PortStation id="OHT01_EQ1" unit_num="1" adr_id="13302" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="OHT01_EQ2" unit_num="2" adr_id="13012" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
        <!--
			<EQPT id="OHT01_EQ" eqptType="3" communicationType="1">
				<PortStation id="OHT01_EQ1" unit_num="1" adr_id="14210" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT01_EQ2" unit_num="2" adr_id="14211" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT01_EQ3" unit_num="3" adr_id="13213" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT01_EQ4" unit_num="4" adr_id="13102" load_vh_type ="0" unload_vh_type ="0"/>
			</EQPT>
			<EQPT id="OHT02_EQ" eqptType="3" communicationType="1">
				<PortStation id="OHT02_EQ1" unit_num="5" adr_id="13105" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT02_EQ2" unit_num="6" adr_id="13111" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT02_EQ3" unit_num="7" adr_id="13112" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT02_EQ4" unit_num="8" adr_id="13113" load_vh_type ="0" unload_vh_type ="0"/>
			</EQPT>
			<EQPT id="OHT03_EQ" eqptType="3" communicationType="1">
				<PortStation id="OHT03_EQ1" unit_num="9" adr_id="14307" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT03_EQ2" unit_num="10" adr_id="14308" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT03_EQ3" unit_num="11" adr_id="13303" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT03_EQ4" unit_num="12" adr_id="13310" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT03_EQ5" unit_num="13" adr_id="13311" load_vh_type ="0" unload_vh_type ="0"/>
				<PortStation id="OHT03_EQ6" unit_num="14" adr_id="13312" load_vh_type ="0" unload_vh_type ="0"/>
			</EQPT>
			-->
        <!-- <Port id="OHT01_T01" unit_num="3" port_num="3" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/> -->
        <!-- <Port id="OHT01_T02" unit_num="4" port_num="4" port_type="B"  valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/> -->

      </Node>
      <Node id="STK_NODE" node_num="3" >
        <EQPT id="OHT01_STK" eqptType="1" communicationType="1">
          <PortStation id="OHT01_T01" unit_num="15" adr_id="15057" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT01_T02" unit_num="16" adr_id="15056" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="OHT01_ZIP" eqptType="1" communicationType="1">
          <PortStation id="OHT01_T03" unit_num="17" adr_id="15057" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT01_T04" unit_num="18" adr_id="15056" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortValueDefMapAction, ScriptControl"/>
        </EQPT>

      </Node>
      <Node id="BUFFER_NODE" node_num="5" >
        <!--EQPT id:此屬性在EqptType = Buffer時代表Zone ID-->
        <EQPT id="OHT01_ZONE1" eqptType="2" communicationType="1">
          <PortStation id="100101" unit_num="19" adr_id="12203" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="100102" unit_num="20" adr_id="14204" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="100103" unit_num="21" adr_id="12205" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="100104" unit_num="22" adr_id="12206" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
        <EQPT id="OHT01_ZONE2" eqptType="2" communicationType="1">
          <PortStation id="200101" unit_num="23" adr_id="12203" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="200102" unit_num="24" adr_id="14204" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="200103" unit_num="25" adr_id="12205" load_vh_type ="0" unload_vh_type ="0"/>
          <PortStation id="200104" unit_num="26" adr_id="12206" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
        <!--20210713 add-->
        <!--
		<EQPT id="OHT01_ZONE3" eqptType="2" communicationType="1">
			<PortStation id="300101" unit_num="27" adr_id="12101" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="300102" unit_num="28" adr_id="14210" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="300103" unit_num="29" adr_id="14211" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="300104" unit_num="30" adr_id="12212" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
        <EQPT id="OHT01_ZONE4" eqptType="2" communicationType="1">
			<PortStation id="400101" unit_num="31" adr_id="12101" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="400102" unit_num="32" adr_id="14210" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="400103" unit_num="33" adr_id="14211" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="400104" unit_num="34" adr_id="12212" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
		<EQPT id="OHT01_ZONE5" eqptType="2" communicationType="1">
			<PortStation id="500101" unit_num="35" adr_id="12302" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="500102" unit_num="36" adr_id="14307" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="500103" unit_num="37" adr_id="14308" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="500104" unit_num="38" adr_id="14309" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
        <EQPT id="OHT01_ZONE6" eqptType="2" communicationType="1">
			<PortStation id="600101" unit_num="39" adr_id="12302" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="600102" unit_num="40" adr_id="14307" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="600103" unit_num="41" adr_id="14308" load_vh_type ="0" unload_vh_type ="0"/>
			<PortStation id="600104" unit_num="42" adr_id="14309" load_vh_type ="0" unload_vh_type ="0"/>
        </EQPT>
		-->
      </Node>
      <Node id="MGV_NODE" node_num="4" >
        <EQPT id="OHT01_MGV" eqptType="15" communicationType="1">
          <PortStation id="OHT01_M01" unit_num="43" adr_id="13106" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="OHT01_M02" unit_num="44" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
      <Node id="MTL_NODE" node_num="6" >
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>