<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->

  <!--________________________OHCV______________________-->
  <AddressBase baseName="OHCV_READ" device="0" baseAddress="0000" />
  <AddressBase baseName="OHCV_WRITE" device="0" baseAddress="0001" />

  <AddressBase baseName="MTL_TO_OHXC_PH2" device="W" baseAddress="0076"/>
  <AddressBase baseName="MTL_TO_OHXC_INDEX_AREA_PH2" device="W" baseAddress="0076"/>
  <AddressBase baseName="MTL_TO_OHXC_HANDSHAKE_AREA_PH2" device="W" baseAddress="007C"/>
  <AddressBase baseName="MTL_TO_OHXC_CURRENT_CAR_ID_PH2" device="W" baseAddress="0081"/>
  <AddressBase baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_PH2" device="W" baseAddress="0084"/>
  <AddressBase baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_PH2" device="W" baseAddress="0087"/>
  <AddressBase baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_PH2" device="W" baseAddress="0088"/>
  <AddressBase baseName="MTL_TO_OHXC_LFT_STATUS_PH2" device="W" baseAddress="008B"/>
  <AddressBase baseName="MTL_TO_OHXC_ALARM_REPORT_PH2" device="W" baseAddress="00A0"/>
  <AddressBase baseName="MTL_TO_OHXC_CST_INTERFACE_PH2" device="B" baseAddress="0036"/>

  <AddressBase baseName="OHXC_TO_MTL_INDEX_AREA_PH2" device="W" baseAddress="0000"/>
  <AddressBase baseName="OHXC_TO_MTL_HANDSHAKE_AREA_PH2" device="W" baseAddress="000B"/>
  <AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_PH2" device="W" baseAddress="0010"/>
  <AddressBase baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_PH2" device="W" baseAddress="0017"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_PH2" device="W" baseAddress="004A"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REPLY_PH2" device="W" baseAddress="0054"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY_PH2" device="W" baseAddress="0055"/>
  <AddressBase baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_PH2" device="W" baseAddress="0058"/>
  <AddressBase baseName="OHXC_TO_MTL_CST_INTERFACE_PH2" device="B" baseAddress="0016"/>

  <!--________________________OHBC_PORT______________________-->
  <!--<AddressBase baseName="OHB100T01_READ" device="D" baseAddress="36401" />
  <AddressBase baseName="OHB100T01_WRITE" device="D" baseAddress="35061" />
  <AddressBase baseName="OHB100T01_RFID" device="D" baseAddress="35800" />
  <AddressBase baseName="OHB100T01_BOX_CST_ID" device="D" baseAddress="39000" />

  <AddressBase baseName="OHB100T03_READ" device="D" baseAddress="36625" />
  <AddressBase baseName="OHB100T03_WRITE" device="D" baseAddress="35069" />
  <AddressBase baseName="OHB100T03_RFID" device="D" baseAddress="35808" />
  <AddressBase baseName="OHB100T03_BOX_CST_ID" device="D" baseAddress="39016" />

  <AddressBase baseName="OHB100T05_READ" device="D" baseAddress="37745" />
  <AddressBase baseName="OHB100T05_WRITE" device="D" baseAddress="35109" />
  <AddressBase baseName="OHB100T05_RFID" device="D" baseAddress="35848" />
  <AddressBase baseName="OHB100T05_BOX_CST_ID" device="D" baseAddress="39096" />

  <AddressBase baseName="OHB100T06_READ" device="D" baseAddress="37857" />
  <AddressBase baseName="OHB100T06_WRITE" device="D" baseAddress="35113" />
  <AddressBase baseName="OHB100T06_RFID" device="D" baseAddress="35852" />
  <AddressBase baseName="OHB100T06_BOX_CST_ID" device="D" baseAddress="39104" />

  <AddressBase baseName="OHB100T07_READ" device="D" baseAddress="37969" />
  <AddressBase baseName="OHB100T07_WRITE" device="D" baseAddress="35117" />
  <AddressBase baseName="OHB100T07_RFID" device="D" baseAddress="35856" />
  <AddressBase baseName="OHB100T07_BOX_CST_ID" device="D" baseAddress="39112" />

  <AddressBase baseName="OHB100T08_READ" device="D" baseAddress="38081" />
  <AddressBase baseName="OHB100T08_WRITE" device="D" baseAddress="35121" />
  <AddressBase baseName="OHB100T08_RFID" device="D" baseAddress="35860" />
  <AddressBase baseName="OHB100T08_BOX_CST_ID" device="D" baseAddress="39120" />

  <AddressBase baseName="OHB100T0A_READ" device="D" baseAddress="37521" />
  <AddressBase baseName="OHB100T0A_WRITE" device="D" baseAddress="35101" />
  <AddressBase baseName="OHB100T0A_RFID" device="D" baseAddress="35840" />
  <AddressBase baseName="OHB100T0A_BOX_CST_ID" device="D" baseAddress="39080" />

  <AddressBase baseName="OHB100T0B_READ" device="D" baseAddress="38193" />
  <AddressBase baseName="OHB100T0B_WRITE" device="D" baseAddress="35125" />
  <AddressBase baseName="OHB100T0B_RFID" device="D" baseAddress="35864" />
  <AddressBase baseName="OHB100T0B_BOX_CST_ID" device="D" baseAddress="39128" />

  <AddressBase baseName="OHB100T0C_READ" device="D" baseAddress="38305" />
  <AddressBase baseName="OHB100T0C_WRITE" device="D" baseAddress="35129" />
  <AddressBase baseName="OHB100T0C_RFID" device="D" baseAddress="35868" />
  <AddressBase baseName="OHB100T0C_BOX_CST_ID" device="D" baseAddress="39163" />

  <AddressBase baseName="OHB100T09_READ" device="D" baseAddress="37297" />
  <AddressBase baseName="OHB100T09_WRITE" device="D" baseAddress="35093" />
  <AddressBase baseName="OHB100T09_RFID" device="D" baseAddress="35832" />
  <AddressBase baseName="OHB100T09_BOX_CST_ID" device="D" baseAddress="39064" />

  <AddressBase baseName="OHB100T04_READ" device="D" baseAddress="36737" />
  <AddressBase baseName="OHB100T04_WRITE" device="D" baseAddress="35073" />
  <AddressBase baseName="OHB100T04_RFID" device="D" baseAddress="35812" />
  <AddressBase baseName="OHB100T04_BOX_CST_ID" device="D" baseAddress="39024" />

  <AddressBase baseName="B7_OHBLOOP_T02_READ" device="D" baseAddress="36513" />
  <AddressBase baseName="B7_OHBLOOP_T02_WRITE" device="D" baseAddress="35065" />
  <AddressBase baseName="B7_OHBLOOP_T02_RFID" device="D" baseAddress="35804" />
  <AddressBase baseName="B7_OHBLOOP_T02_BOX_CST_ID" device="D" baseAddress="39008" />

  <AddressBase baseName="OHBLOOP_A01_READ" device="D" baseAddress="36849" />
  <AddressBase baseName="OHBLOOP_A01_WRITE" device="D" baseAddress="35077" />
  <AddressBase baseName="OHBLOOP_A01_RFID" device="D" baseAddress="35816" />
  <AddressBase baseName="OHBLOOP_A01_BOX_CST_ID" device="D" baseAddress="39032" />

  <AddressBase baseName="OHBLOOP_A02_READ" device="D" baseAddress="36961" />
  <AddressBase baseName="OHBLOOP_A02_WRITE" device="D" baseAddress="35081" />
  <AddressBase baseName="OHBLOOP_A02_RFID" device="D" baseAddress="35820" />
  <AddressBase baseName="OHBLOOP_A02_BOX_CST_ID" device="D" baseAddress="39040" />

  <AddressBase baseName="OHBLOOP_A03_READ" device="D" baseAddress="37073" />
  <AddressBase baseName="OHBLOOP_A03_WRITE" device="D" baseAddress="35085" />
  <AddressBase baseName="OHBLOOP_A03_RFID" device="D" baseAddress="35824" />
  <AddressBase baseName="OHBLOOP_A03_BOX_CST_ID" device="D" baseAddress="39048" />

  <AddressBase baseName="OHBLOOP_A04_READ" device="D" baseAddress="37185" />
  <AddressBase baseName="OHBLOOP_A04_WRITE" device="D" baseAddress="35089" />
  <AddressBase baseName="OHBLOOP_A04_RFID" device="D" baseAddress="35828" />
  <AddressBase baseName="OHBLOOP_A04_BOX_CST_ID" device="D" baseAddress="39056" />-->

  <AddressBase baseName="OHT01_M01_WRITE_TIME" device="D" baseAddress="5007" />
  <AddressBase baseName="OHT01_M01_WRITE" device="D" baseAddress="5060" />
  <AddressBase baseName="OHT01_M01_READ" device="D" baseAddress="6400" />

  <AddressBase baseName="OHT01_M02_WRITE" device="D" baseAddress="5085" />
  <AddressBase baseName="OHT01_M02_READ" device="D" baseAddress="6465" />

  <AddressBase baseName="OHT01_M03_WRITE" device="D" baseAddress="5110" />
  <AddressBase baseName="OHT01_M03_READ" device="D" baseAddress="6530" />

  <AddressBase baseName="OHT01_M04_WRITE" device="D" baseAddress="5135" />
  <AddressBase baseName="OHT01_M04_READ" device="D" baseAddress="6595" />

  <AddressBase baseName="OHT01_M05_WRITE" device="D" baseAddress="5160" />
  <AddressBase baseName="OHT01_M05_READ" device="D" baseAddress="6660" />

  <AddressBase baseName="OHT01_M06_WRITE" device="D" baseAddress="5185" />
  <AddressBase baseName="OHT01_M06_READ" device="D" baseAddress="6725" />

  <AddressBase baseName="OHT01_M07_WRITE" device="D" baseAddress="5210" />
  <AddressBase baseName="OHT01_M07_READ" device="D" baseAddress="6790" />

  <AddressBase baseName="OHT01_M08_WRITE" device="D" baseAddress="5235" />
  <AddressBase baseName="OHT01_M08_READ" device="D" baseAddress="6855" />

  <AddressBase baseName="OHT01_M09_WRITE" device="D" baseAddress="5260" />
  <AddressBase baseName="OHT01_M09_READ" device="D" baseAddress="6920" />

  <AddressBase baseName="OHT01_M10_WRITE" device="D" baseAddress="5285" />
  <AddressBase baseName="OHT01_M10_READ" device="D" baseAddress="6985" />

  <AddressBase baseName="EFEM01_WRITE" device="D" baseAddress="10000" />
  <AddressBase baseName="EFEM01_READ" device="D" baseAddress="10200" />

  <!--System info-->
  <AddressBase baseName="MASTER_PLC_SYSTEM_INFO" device="D" baseAddress="35001" />

  <AddressBase baseName="MTL_READ" device="0" baseAddress="0000" />
  
  <AddressBase baseName="HID_TO_OHXC_DATA_AREA_B" device="B" baseAddress="0000"/>
  
</AddressBaseDefs>