<EQMapToValueEvent>
  <!-- <EQObject id="B6_OHB01_M01" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y"> -->
  <!--<EQObject id="B6_OHB01_M02" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M01_WRITE_TIME" relativeName="OHxC_TO_MGV_TIME"></ValueEvent>
    <ValueEvent baseName="OHT01_M01_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M01_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  --><!-- <EQObject id="B6_OHB01_M02" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y"> --><!--
  <EQObject id="B6_OHB01_M01" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M02_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M02_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M03" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M03_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M03_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M04" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M04_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M04_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M05" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M05_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M05_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M06" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M06_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M06_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M07" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M07_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M07_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M08" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M08_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M08_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M09" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M09_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M09_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M10" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M10_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M10_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>--><!--

  <EQObject id="MTL01" cate="Equipment" MPLCName="MTx_1" isValueEventTrigger="Y">
    <ValueEvent baseName="MTL_TO_OHXC_INDEX_AREA_PH2" relativeName="MTL_TO_OHXC_INDEX_AREA_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_HANDSHAKE_AREA_PH2" relativeName="MTL_TO_OHXC_HANDSHAKE_AREA_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_CURRENT_CAR_ID_PH2" relativeName="MTL_TO_OHXC_CURRENT_CAR_ID_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_PH2" relativeName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_PH2" relativeName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_PH2" relativeName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_LFT_STATUS_PH2" relativeName="MTL_TO_OHXC_LFT_STATUS_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_ALARM_REPORT_PH2" relativeName="MTL_TO_OHXC_ALARM_REPORT_PH2"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_CST_INTERFACE_PH2" relativeName="MTL_TO_OHXC_CST_INTERFACE_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_INDEX_AREA_PH2" relativeName="OHXC_TO_MTL_INDEX_AREA_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_HANDSHAKE_AREA_PH2" relativeName="OHXC_TO_MTL_HANDSHAKE_AREA_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_PH2" relativeName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_PH2" relativeName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_PH2" relativeName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_REPLY_PH2" relativeName="OHXC_TO_MTL_CAR_OUT_REPLY_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY_PH2" relativeName="OHXC_TO_MTL_CAR_OUT_NOTIFY_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_PH2" relativeName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_PH2"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CST_INTERFACE_PH2" relativeName="OHXC_TO_MTL_CST_INTERFACE_PH2"></ValueEvent>
  </EQObject>
  
  <EQObject id="HID1" cate="Equipment" MPLCName="HID1" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
  </EQObject>
  <EQObject id="HID2" cate="Equipment" MPLCName="HID2" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
  </EQObject>
  <EQObject id="HID3" cate="Equipment" MPLCName="HID3" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
  </EQObject>
  <EQObject id="HID4" cate="Equipment" MPLCName="HID4" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
  </EQObject>
  <EQObject id="HID5" cate="Equipment" MPLCName="HID5" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA_B" relativeName="HID_TO_OHXC_AREA_B"></ValueEvent>
  </EQObject>-->-->

</EQMapToValueEvent>