<EQMapToValueEvent>
  <!--<EQObject id="B6_OHB01_M01" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M01_WRITE_TIME" relativeName="OHxC_TO_MGV_TIME"></ValueEvent>
    <ValueEvent baseName="OHT01_M01_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M01_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>-->
</EQMapToValueEvent>