<EQMapToValueEvent>
  <!-- <EQObject id="B6_OHB01_M01" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y"> -->
  <!--<EQObject id="B6_OHB01_M02" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M01_WRITE_TIME" relativeName="OHxC_TO_MGV_TIME"></ValueEvent>
    <ValueEvent baseName="OHT01_M01_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M01_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  --><!-- <EQObject id="B6_OHB01_M02" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y"> --><!--
  <EQObject id="B6_OHB01_M01" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M02_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M02_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M03" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M03_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M03_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M04" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M04_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M04_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M05" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M05_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M05_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M06" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M06_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M06_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M07" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M07_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M07_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M08" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M08_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M08_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M09" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M09_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M09_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>
  <EQObject id="B6_OHB01_M10" cate="PortStation" MPLCName="MANUAL_PORT" isValueEventTrigger="Y">
    <ValueEvent baseName="OHT01_M10_WRITE" relativeName="OHxC_TO_MGV"></ValueEvent>
    <ValueEvent baseName="OHT01_M10_READ" relativeName="MGV_TO_OHxC"></ValueEvent>
  </EQObject>-->
</EQMapToValueEvent>