<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther=0、Stock=1,Buffer=2、Equipment=3、MTL=4、MTS=5、OHCV=6、HID=7、MGV=8、AGV=9、NTB=10、CRANE=11、ZONE=12、AGVZONE=13、LINE=14-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="B6_OHB01" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1">
        <Vehicle id="B6_OHB01_CR01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR01" />
        <Vehicle id="B6_OHB01_CR02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR02" />
        <Vehicle id="B6_OHB01_CR03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR03" />
        <Vehicle id="B6_OHB01_CR04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR04" />
        <Vehicle id="B6_OHB01_CR05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR05" />
        <Vehicle id="B6_OHB01_CR06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR06" />
        <Vehicle id="B6_OHB01_CR07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR07" />
        <Vehicle id="B6_OHB01_CR08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR08" />
        <Vehicle id="B6_OHB01_CR09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR09" />
        <Vehicle id="B6_OHB01_CR10" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR10" />
      </Node>
      <Node id="EQ_NODE" node_num="2">
        <EQPT id="B6_2165_A01" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A01_P01" unit_num="1" adr_id="14531" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A02" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A02_P01" unit_num="2" adr_id="14535" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A03" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A03_P01" unit_num="3" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A04" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A04_P01" unit_num="4" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A05" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A05_P01" unit_num="5" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A06" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A06_P01" unit_num="6" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A07" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A07_P01" unit_num="7" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A08" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A08_P01" unit_num="8" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2490_A01" eqptType="3" communicationType="1">
          <PortStation id="B6_2490_A01_P01" unit_num="9" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="BUFFER_NODE" node_num="5">
        <!--EQPT id:此屬性在EqptType = Buffer時代表Zone ID-->
        <EQPT id="B6_OHB01-ZONE21" eqptType="2" communicationType="1">
          <PortStation id="200117" unit_num="11" adr_id="12635" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200217" unit_num="12" adr_id="12636" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200317" unit_num="13" adr_id="12637" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200417" unit_num="14" adr_id="12638" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200517" unit_num="15" adr_id="12639" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200617" unit_num="16" adr_id="12640" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200717" unit_num="17" adr_id="12641" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200817" unit_num="18" adr_id="12642" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200917" unit_num="19" adr_id="12643" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201017" unit_num="20" adr_id="12644" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201117" unit_num="21" adr_id="12645" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201217" unit_num="22" adr_id="12646" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201317" unit_num="23" adr_id="12647" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201417" unit_num="24" adr_id="12648" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201517" unit_num="25" adr_id="12649" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201617" unit_num="26" adr_id="12650" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201717" unit_num="27" adr_id="12651" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201817" unit_num="28" adr_id="12652" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201917" unit_num="29" adr_id="12653" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202017" unit_num="30" adr_id="12654" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202117" unit_num="31" adr_id="12655" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202217" unit_num="32" adr_id="12656" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202317" unit_num="33" adr_id="12657" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202417" unit_num="34" adr_id="12658" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202517" unit_num="35" adr_id="12659" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202617" unit_num="36" adr_id="12660" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202717" unit_num="37" adr_id="12661" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202817" unit_num="38" adr_id="12662" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202917" unit_num="39" adr_id="12663" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203017" unit_num="40" adr_id="12664" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203117" unit_num="41" adr_id="12665" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203217" unit_num="42" adr_id="12666" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203317" unit_num="43" adr_id="12667" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203417" unit_num="44" adr_id="12668" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203517" unit_num="45" adr_id="12669" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203617" unit_num="46" adr_id="12670" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203717" unit_num="47" adr_id="12671" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203817" unit_num="48" adr_id="12672" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203917" unit_num="49" adr_id="12673" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE19" eqptType="2" communicationType="1">
          <PortStation id="200115" unit_num="50" adr_id="14554" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200215" unit_num="51" adr_id="12555" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200315" unit_num="52" adr_id="12556" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200415" unit_num="53" adr_id="12557" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200515" unit_num="54" adr_id="14558" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200615" unit_num="55" adr_id="12559" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200715" unit_num="56" adr_id="12560" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200815" unit_num="57" adr_id="12561" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200915" unit_num="58" adr_id="14562" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201015" unit_num="59" adr_id="12563" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201115" unit_num="60" adr_id="12564" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201215" unit_num="61" adr_id="12565" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201315" unit_num="62" adr_id="14566" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201415" unit_num="63" adr_id="12567" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201515" unit_num="64" adr_id="12568" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201615" unit_num="65" adr_id="12569" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201715" unit_num="66" adr_id="14570" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201815" unit_num="67" adr_id="12572" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201915" unit_num="68" adr_id="12573" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202015" unit_num="69" adr_id="14574" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202115" unit_num="70" adr_id="12575" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202215" unit_num="71" adr_id="12576" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202315" unit_num="72" adr_id="12577" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202415" unit_num="73" adr_id="14578" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202515" unit_num="74" adr_id="12579" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202615" unit_num="75" adr_id="12580" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202715" unit_num="76" adr_id="12581" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202815" unit_num="77" adr_id="14582" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202915" unit_num="78" adr_id="12583" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203015" unit_num="79" adr_id="12584" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203115" unit_num="80" adr_id="12585" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203215" unit_num="81" adr_id="14586" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203315" unit_num="82" adr_id="12587" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203415" unit_num="83" adr_id="12588" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203515" unit_num="84" adr_id="12589" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203615" unit_num="85" adr_id="14590" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE18" eqptType="2" communicationType="1">
          <PortStation id="200114" unit_num="86" adr_id="12517" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200214" unit_num="87" adr_id="12518" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200314" unit_num="88" adr_id="12519" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200414" unit_num="89" adr_id="14520" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200514" unit_num="90" adr_id="12521" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200614" unit_num="91" adr_id="12522" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200714" unit_num="92" adr_id="12523" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200814" unit_num="93" adr_id="12524" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200914" unit_num="94" adr_id="12525" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201014" unit_num="95" adr_id="12526" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201114" unit_num="96" adr_id="12527" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201214" unit_num="97" adr_id="12528" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201314" unit_num="98" adr_id="12529" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201414" unit_num="99" adr_id="12530" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201514" unit_num="100" adr_id="12531" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201614" unit_num="101" adr_id="12532" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE24" eqptType="2" communicationType="1">
          <PortStation id="200122" unit_num="102" adr_id="12722" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200222" unit_num="103" adr_id="12723" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200322" unit_num="104" adr_id="12724" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200422" unit_num="105" adr_id="12725" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200522" unit_num="106" adr_id="12726" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200622" unit_num="107" adr_id="12727" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200722" unit_num="108" adr_id="12728" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200822" unit_num="109" adr_id="12729" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200922" unit_num="110" adr_id="12730" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201022" unit_num="111" adr_id="12731" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201122" unit_num="112" adr_id="12732" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201222" unit_num="113" adr_id="14733" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201322" unit_num="114" adr_id="12734" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201422" unit_num="115" adr_id="12735" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201522" unit_num="116" adr_id="12736" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201622" unit_num="117" adr_id="14737" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201722" unit_num="118" adr_id="12738" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201822" unit_num="119" adr_id="14739" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201922" unit_num="120" adr_id="12740" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202022" unit_num="121" adr_id="12741" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202122" unit_num="122" adr_id="12742" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202222" unit_num="123" adr_id="12744" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202322" unit_num="124" adr_id="12745" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202422" unit_num="125" adr_id="14746" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202522" unit_num="126" adr_id="12747" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202622" unit_num="127" adr_id="12748" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202722" unit_num="128" adr_id="14749" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202822" unit_num="129" adr_id="12750" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="202922" unit_num="130" adr_id="12751" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203022" unit_num="131" adr_id="14752" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203122" unit_num="132" adr_id="12753" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203222" unit_num="133" adr_id="12754" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203322" unit_num="134" adr_id="14755" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203422" unit_num="135" adr_id="12756" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203522" unit_num="136" adr_id="12757" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203622" unit_num="137" adr_id="14758" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203722" unit_num="138" adr_id="12759" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203822" unit_num="139" adr_id="12760" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="203922" unit_num="140" adr_id="12761" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE23" eqptType="2" communicationType="1">
        </EQPT>
      </Node>
      <Node id="MGV_NODE" node_num="4">
        <EQPT id="B6_OHB01_MPORT" eqptType="15" communicationType="1">
          <PortStation id="B6_OHB01_M01" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M02" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M03" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M04" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M05" unit_num="43" adr_id="12546" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M06" unit_num="44" adr_id="12544" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M07" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M08" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M09" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M10" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
        </EQPT>
      </Node>
      <Node id="MTL_NODE" node_num="6">
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>