<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援七種：Orther=0、Stock=1,Buffer=2、Equipment=3、MTL=4、MTS=5、OHCV=6、HID=7、MGV=8、AGV=9、NTB=10、CRANE=11、ZONE=12、AGVZONE=13、LINE=14-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="B6_OHB01" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ASEMCSDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1">
        <Vehicle id="B6_OHB01_CR01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR01" />
        <Vehicle id="B6_OHB01_CR02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR02" />
        <Vehicle id="B6_OHB01_CR03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR03" />
        <Vehicle id="B6_OHB01_CR04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR04" />
        <Vehicle id="B6_OHB01_CR05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR05" />
        <Vehicle id="B6_OHB01_CR06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR06" />
        <Vehicle id="B6_OHB01_CR07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR07" />
        <Vehicle id="B6_OHB01_CR08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR08" />
        <Vehicle id="B6_OHB01_CR09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR09" />
        <Vehicle id="B6_OHB01_CR10" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="B6_OHB01_CR10" />
      </Node>
      <Node id="EQ_NODE" node_num="2">
        <EQPT id="B6_2165_A01" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A01_P01" unit_num="1" adr_id="14531" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A02" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A02_P01" unit_num="2" adr_id="14535" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A03" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A03_P01" unit_num="3" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A04" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A04_P01" unit_num="4" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A05" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A05_P01" unit_num="5" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A06" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A06_P01" unit_num="6" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A07" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A07_P01" unit_num="7" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2165_A08" eqptType="3" communicationType="1">
          <PortStation id="B6_2165_A08_P01" unit_num="8" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_2490_A01" eqptType="3" communicationType="1">
          <PortStation id="B6_2490_A01_P01" unit_num="9" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="BUFFER_NODE" node_num="5">
        <!--EQPT id:此屬性在EqptType = Buffer時代表Zone ID-->
        <EQPT id="B6_OHB01-ZONE13" eqptType="2" communicationType="1">
          <PortStation id="100106" unit_num="10" adr_id="11067" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100206" unit_num="11" adr_id="13012" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100306" unit_num="12" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100406" unit_num="13" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100506" unit_num="14" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100606" unit_num="15" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100706" unit_num="16" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100806" unit_num="17" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100906" unit_num="18" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101006" unit_num="19" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200106" unit_num="20" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200206" unit_num="21" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200306" unit_num="22" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200406" unit_num="23" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200506" unit_num="24" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200606" unit_num="25" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200706" unit_num="26" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200806" unit_num="27" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200906" unit_num="28" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201006" unit_num="29" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE14" eqptType="2" communicationType="1">
          <PortStation id="100107" unit_num="30" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100207" unit_num="31" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100307" unit_num="32" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100407" unit_num="33" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100507" unit_num="34" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100607" unit_num="35" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100707" unit_num="36" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100807" unit_num="37" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100907" unit_num="38" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101007" unit_num="39" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200107" unit_num="40" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200207" unit_num="41" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200307" unit_num="42" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200407" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200507" unit_num="44" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200607" unit_num="45" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200707" unit_num="46" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200807" unit_num="47" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200907" unit_num="48" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201007" unit_num="49" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE15" eqptType="2" communicationType="1">
          <PortStation id="104107" unit_num="50" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104207" unit_num="51" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104307" unit_num="52" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104407" unit_num="53" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104507" unit_num="54" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104607" unit_num="55" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104707" unit_num="56" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104807" unit_num="57" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104907" unit_num="58" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="105007" unit_num="59" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204107" unit_num="60" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204207" unit_num="61" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204307" unit_num="62" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204407" unit_num="63" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204507" unit_num="64" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204607" unit_num="65" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204707" unit_num="66" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204807" unit_num="67" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204907" unit_num="68" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="205007" unit_num="69" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE16" eqptType="2" communicationType="1">
          <PortStation id="100108" unit_num="70" adr_id="12571" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100208" unit_num="71" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100308" unit_num="72" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100408" unit_num="73" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100508" unit_num="74" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100608" unit_num="75" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100708" unit_num="76" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100808" unit_num="77" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100908" unit_num="78" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101008" unit_num="79" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200108" unit_num="80" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200208" unit_num="81" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200308" unit_num="82" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200408" unit_num="83" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200508" unit_num="84" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200608" unit_num="85" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200708" unit_num="86" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200808" unit_num="87" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200908" unit_num="88" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201008" unit_num="89" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE17" eqptType="2" communicationType="1">
          <PortStation id="100109" unit_num="90" adr_id="12635" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100209" unit_num="91" adr_id="12636" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100309" unit_num="92" adr_id="12637" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100409" unit_num="93" adr_id="12638" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100509" unit_num="94" adr_id="12639" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100609" unit_num="95" adr_id="12640" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100709" unit_num="96" adr_id="12641" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100809" unit_num="97" adr_id="12642" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100909" unit_num="98" adr_id="12643" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101009" unit_num="99" adr_id="12644" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101109" unit_num="100" adr_id="12645" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101209" unit_num="101" adr_id="12646" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101309" unit_num="102" adr_id="12647" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101409" unit_num="103" adr_id="12648" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101509" unit_num="104" adr_id="12649" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101609" unit_num="105" adr_id="12650" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101709" unit_num="106" adr_id="12651" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101809" unit_num="107" adr_id="12652" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101909" unit_num="108" adr_id="12653" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102009" unit_num="109" adr_id="12654" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102109" unit_num="110" adr_id="12655" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102209" unit_num="111" adr_id="12656" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102309" unit_num="112" adr_id="12657" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102409" unit_num="113" adr_id="12658" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102509" unit_num="114" adr_id="12659" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102609" unit_num="115" adr_id="12660" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102709" unit_num="116" adr_id="12661" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102809" unit_num="117" adr_id="12662" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="102909" unit_num="118" adr_id="12663" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103009" unit_num="119" adr_id="12664" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103109" unit_num="120" adr_id="12665" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103209" unit_num="121" adr_id="12666" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103309" unit_num="122" adr_id="12667" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103409" unit_num="123" adr_id="12668" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103509" unit_num="124" adr_id="12669" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103609" unit_num="125" adr_id="12670" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103709" unit_num="126" adr_id="12671" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103809" unit_num="127" adr_id="12672" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="103909" unit_num="128" adr_id="12673" load_vh_type ="0" unload_vh_type ="0" />

          <!--<PortStation id="200109" unit_num="100" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200209" unit_num="101" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200309" unit_num="102" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200409" unit_num="103" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200509" unit_num="104" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200609" unit_num="105" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200709" unit_num="106" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200809" unit_num="107" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200909" unit_num="108" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201009" unit_num="109" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />-->
        </EQPT>
        <EQPT id="B6_OHB01-ZONE18" eqptType="2" communicationType="1">
          <!--
          <PortStation id="104109" unit_num="110" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104209" unit_num="111" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104309" unit_num="112" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104409" unit_num="113" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104509" unit_num="114" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104609" unit_num="115" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104709" unit_num="116" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104809" unit_num="117" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104909" unit_num="118" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="105009" unit_num="119" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204109" unit_num="120" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204209" unit_num="121" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204309" unit_num="122" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204409" unit_num="123" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204509" unit_num="124" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204609" unit_num="125" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204709" unit_num="126" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204809" unit_num="127" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204909" unit_num="128" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="205009" unit_num="129" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
		  -->
        </EQPT>
        <EQPT id="B6_OHB01-ZONE19" eqptType="2" communicationType="1">
          <PortStation id="100110" unit_num="130" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100210" unit_num="131" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100310" unit_num="132" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100410" unit_num="133" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100510" unit_num="134" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100610" unit_num="135" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100710" unit_num="136" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100810" unit_num="137" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="100910" unit_num="138" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="101010" unit_num="139" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200110" unit_num="140" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200210" unit_num="141" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200310" unit_num="142" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200410" unit_num="143" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200510" unit_num="144" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200610" unit_num="145" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200710" unit_num="146" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200810" unit_num="147" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="200910" unit_num="148" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="201010" unit_num="149" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
        <EQPT id="B6_OHB01-ZONE20" eqptType="2" communicationType="1">
          <PortStation id="104110" unit_num="150" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104210" unit_num="151" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104310" unit_num="152" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104410" unit_num="153" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104510" unit_num="154" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104610" unit_num="155" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104710" unit_num="156" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104810" unit_num="157" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="104910" unit_num="158" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="105010" unit_num="159" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204110" unit_num="160" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204210" unit_num="161" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204310" unit_num="162" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204410" unit_num="163" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204510" unit_num="164" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204610" unit_num="165" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204710" unit_num="166" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204810" unit_num="167" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="204910" unit_num="168" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="205010" unit_num="169" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>
      </Node>
      <Node id="MGV_NODE" node_num="4">
        <EQPT id="B6_OHB01_MPORT" eqptType="15" communicationType="1">
          <PortStation id="B6_OHB01_M01" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M02" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M03" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M04" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M05" unit_num="43" adr_id="12546" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M06" unit_num="44" adr_id="12544" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M07" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M08" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M09" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
          <PortStation id="B6_OHB01_M10" unit_num="43" adr_id="99999" load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MGVDefaultValueDefMapAction, ScriptControl" />
        </EQPT>
      </Node>
      <Node id="MTL_NODE" node_num="6">
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>