<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050-->
<!--
ReadIntervalMilliSec 讀取速度
IdRedix 進制
BufferLength Array大小
Type 區塊種類  (D W F B)
-->
<MPLCConnectionSetting>
  <!--<Connection Name="OHBC" Type="4" IP="192.168.28.142" Port="2000" ReadIntervalMilliSec="200" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
        AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6000" EndBlock="7000"></ReadRange>
    </Device>
  </Connection>-->
  <Connection Name="MANUAL_PORT" Type="4" IP="192.168.28.103" Port="7001" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
        AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="6000" EndBlock="8000"></ReadRange>
    </Device>
  </Connection>


</MPLCConnectionSetting>