<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050-->
<!--
ReadIntervalMilliSec 讀取速度
IdRedix 進制
BufferLength Array大小
Type 區塊種類  (D W F B)
-->
<MPLCConnectionSetting>
  <Connection Name="MANUAL_AND_EFEM_PORT" Type="4" IP="192.168.28.103" Port="7001" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
        AliveMPLCDeviceBlock="W41">
    <Device Type="D" BufferLength="80000" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="5000" EndBlock="11000"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MTx_1" Type="4" IP="192.168.28.104" Port="7001" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                 AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="80000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="00000" EndBlock="000FF"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="80000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID1" Type="4" IP="192.168.28.105" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID2" Type="4" IP="192.168.28.106" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID3" Type="4" IP="192.168.28.107" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID4" Type="4" IP="192.168.28.108" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID5" Type="4" IP="192.168.28.109" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>


</MPLCConnectionSetting>