<?xml version="1.0" encoding="utf-8" ?>
<!-- RecvTimeout:等待sendRecv Reply的Time out時間(milliseconds) -->
<!-- RetryCount: SendRecv Time out後要再重複發送的次數-->
<!-- ConnectionMode: 0=Server Mode、1=Clinet Mode-->
<!-- FrameBuilderType: 0=PC Type (Mirle)、1=PLC Type (Mirle)-->
<!-- MaxReconnectionCount: 斷線後最多嘗試幾次重新恢復連線 (若設定為0則不進行自動重新連線) (Client Mode適用)-->
<!-- ReconnectInterval: 斷線多久之後再進行一次嘗試恢復連線的動作 (Client Mode適用)-->
<TcpIpConnectionSetting>
  <Common RecvTimeout="90000" SendTimeout="-1" MaxReadSize="1024" ReconnectInterval="5000" RetryCount="0" />
  
  <!--config by uenlin in 20210709 8台K24-->
  <Connection Name="B6_OHB01_CR01" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.41" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR02" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.42" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR03" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.43" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR04" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR05" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.45" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR06" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.46" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR07" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.47" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR08" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.48" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR09" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.49" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR10" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.44" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR11" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.63" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR12" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.64" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
	<!--2022年12月13日 加入13號新車CST-->
  <Connection Name="B6_OHB01_CR13" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.65" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR14" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
	<!--2022年12月26日 加入15號新車CST-->
  <Connection Name="B6_OHB01_CR15" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.67" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR16" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.62" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR17" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR18" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR19" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
	<!--2022年12月13日 加入20號新車Foup-->
  <Connection Name="B6_OHB01_CR20" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="192.168.203.66" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR21" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR22" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR23" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR24" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR25" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR26" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR27" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR28" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR29" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR30" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR31" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR32" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR33" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR34" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR35" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR36" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR37" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR38" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
  <Connection Name="B6_OHB01_CR39" LocalIP="0.0.0.0" LocalPort="20001" RemoteIP="999.999.999.999" RemotePort="0" ConnectionMode="0" FrameBuilderType="0"/>
</TcpIpConnectionSetting>